*.bak
*.orig

# EasyChair class style
easychair.zip
easychair.cls

# TeX products
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.nav
*.snm
*.toc

# glossaries
*.glg
*.glo
*.gls
*.ist

# BibTeX
*.bbl
*.bcf
*.bib.sav
*.blg
*.run.xml

# graphviz
*.dot
